.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

.tags{
  padding: 0 !important;
}

.tags-hover{
  border-color: #f96332;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: rgba(255, 255, 255, 0.8);
}

.labelinput{
  outline: none;
  border: none;
  background: none;
  padding: 10px 18px 10px 18px;
  color: rgba(255, 255, 255, 0.8);
}
.input-table{
  border: none;
  background-color: #1e1e2f;
  width: 25%;
}

.input-table:focus{
  background-color: #1e1e2f;
}

span.label.label-success.tagLabel {
  padding: 0.350rem 0.4rem 0.350rem 0.8rem;
  background: #e0e0e0;
  margin-left: 0.2rem;
  border-radius: 16px;
  color: black;
}

a.closelabel {
  padding: 0 0.4rem;
  border-radius: 50%;
  background: #464646;
  color: white;
  outline: none;
  text-decoration: none;
}